@import url("https://fonts.googleapis.com/css2?family=Karla:wght@200;300;400;500;600;700;800&family=Leckerli+One&family=Merriweather:wght@300;400;700;900&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  font-size: 6.5vw;
}
h3 {
  font-family: "Merriweather", serif;
  font-size: 1.3rem;
  font-weight: 700;
}
h4 {
  font-size: 1.1rem;
  font-family: "Merriweather", serif;
  font-weight: 700;
  word-spacing: 0.4vw;
}
h6 {
  font-size: 0.9rem;
  font-weight: 700;
  color: #6caa7f;
}
p {
  font-family: "Karla", sans-serif;
  font-size: 1rem;
  line-height: 1.5rem;
}
button {
  background-color: #6caa7f;
  border-style: none;
  padding: 0.7rem 1.3rem;
  font-size: 0.9rem;
  font-weight: 700;
  letter-spacing: 1px;
  color: #fff;
}
hr {
  background-color: #27ae60;
  color: #27ae60;
  height: 0.07rem;
}

body {
  font-family: "Montserrat", sans-serif;
}

header .intro {
  position: relative;
}
header .intro .head {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
header .intro .head h1 {
  font-family: "Leckerli One", cursive;
  color: #000;
}
header .intro .head h6 {
  color: #27ae60;
  letter-spacing: 0.3rem;
}

header .navbar .navbar-nav .nav-link::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background-color: #2ecc71;
  transition: width 0.3s;
}
header .navbar .navbar-nav .nav-link:hover::after {
  width: 60%;
  height: 2px;
  background-color: #2ecc71;
  transition: width 0.3s;
  border-bottom: 2px solid #27ae60;
}
header .navbar .navbar-nav i {
  font-size: 1.2rem;
  color: #7aca8d;
  cursor: pointer;
}

.featured .row .one {
  height: 300px;
}
.featured .row .one img {
  width: 100%;
  height: 100%;
  background-size: cover;
  box-sizing: border-box;
  object-fit: cover;
}
.featured .row .one .text {
  background: rgba(0, 0, 0, 0.5);
  left: 15px;
  right: 15px;
  height: 45%;
  position: absolute;
  bottom: 0;
}
.featured .row .one .text p {
  letter-spacing: 0.2rem;
  line-height: 1px;
}
.featured .row .one .text a {
  text-decoration: none;
  position: relative;
  border-style: none;
  color: #fff;
  font-size: 0.9rem;
}
.featured .row .one .text a::after {
  position: absolute;
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background-color: #2ecc71;
}
.subscription {
  background-color: #defadb;
}
.subscription .row .sub input {
  outline: none;
  border: 1px solid #6caa7f;
}
.subscription .row .sub input::placeholder {
  font-size: 0.9rem;
}

.blog .row .post a {
  font-size: 0.9rem;
  color: #27ae60;
  font-weight: bold;
  text-decoration: none;
  border-style: none;
}

.blog .row .sidebar .side2 .row {
  font-size: 1rem;
}
.blog .row .sidebar .side2 .row a {
  text-decoration: none;
  color: #6caa7f;
  border-style: none;
  font-size: 0.8rem;
}

.blog .side3 .one {
  height: 300px;
  position: relative;
}
.blog .side3 .one img {
  width: 100%;
  height: 100%;
  background-size: cover;
  box-sizing: border-box;
  object-fit: cover;
}
.blog .row .one .text {
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  padding: 7rem 1.1rem 0 1.1rem;
}

.social {
  background-color: #40ad82;
}
.social .text p {
  font-weight: 700;
  word-spacing: 3px;
  align-items: center;
  justify-content: center;
}

.social .logo i {
  margin-left: 10px;
  cursor: pointer;
  color: rgb(53, 92, 139);
  font-size: 1.3rem;
  font-weight: bold;
  transform: 0.3s ease;
}
.social .logo i:hover {
  color: rgb(0, 76, 255);
}

footer .row .one a {
  font-family: "Leckerli One", cursive;
  color: #27ae60;
  font-size: 1.6rem;
  text-decoration: none;
  border: none;
  position: relative;
}
footer .row .one a::after {
  position: absolute;
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background-color: #2ecc71;
}
footer .row .two a {
  display: block;
  font-weight: 600;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 3px;
  color: #27ae60;
  font-size: 1.2rem;
  position: relative;
}
footer .row .two a::after {
  position: absolute;
  content: "";
  text-align: center;
  display: block;
  width: 50%;
  height: 1px;
  background-color: #2ecc71;
}

footer .row .two li {
  list-style: none;
  margin-top: 10px;
  cursor: pointer;
}
footer .copyright {
  margin-top: 50px;
}
footer .copyright p {
  font-size: 1.1rem;
}
